{
  "presets": [
    ["@babel/preset-env"]
  ],
  "plugins": [
    ["@babel/plugin-proposal-object-rest-spread"],
    ["no-debugging", {
      "console": true,
      "debugger": true,
      "alert": true
    }]
  ],
  "minified": true,
  "comments": false
}
